.menu {
    width: 200px;
}

.content {
    width: 80vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    color: white;
}

.wrapper { 
    padding: 10px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}